<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="Post">
    {% csrf_token %}
 {% if messages %}
                <div class="alert alert-danger">
                    <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
					{% for field in form %}
      <p>
        <br><div class="wrap-input100" >


        {{ field }}
		 <span class="focus-input100"></span>
		  </div>
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}

					<div class="flex-col-c p-t-80">
						<span class="txt10 p-b-9">
							By hitting the "Register" button, you agree to the
							<a href="#" class="txt11">
							Terms conditions and Privacy Policy
						</a>
						</span>


					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Register
						</button>
					</div>

					<div class="flex-col-c p-t-80 p-b-40">
						<span class="txt1 p-b-9">
							Already have an account?
							<a href="{% url 'Read:Read/login' %}" class="txt3">
							Login now
						</a>
						</span>


					</div>

</form>
</body>
</html>